{% extends 'base/base.html' %}
{% block body %}


<form action="{% url 'export_excel' %}" method="GET">
    <label>Select Date</label><br>
    <input type="date" name="date" required><br><br>

    <label>Batch</label><br>
    <select name="batch" required>
        <option value="">Select Batch</option>
        {% for batch in batches %}
            <option value="{{ batch }}">
                {{ batch }}
            </option>
        {% endfor %}
    </select>

<br><br>

    <label>Target</label><br>
    <input type="number" name="target" required><br><br>

    <button type="submit">
        Export Excel
    </button>
</form>
<br><br>

<hr>
<br><br>

<form method="GET">
    <label>Select Date</label>
    <input type="date" name="date">
    <button type="submit">Search</button>
</form>
<br><br>

<div class="table-container">
    <table>
        <tr>
            <th>Date</th>
            <th>Operator</th>
            <th>Machine</th>
            <th>Batch No</th>
            <th>Operation</th>
            <th>Average</th>
            <th>Allowance</th>
            <th>Capacity</th>
        </tr>

        {% for study in studies %}
        <tr>
            <td>{{ study.date }}</td>
            <td>{{ study.operator }}</td>
            <td>{{ study.machine }}</td>
            <td>{{ study.batch_no }}</td>
            <td>{{ study.operation }}</td>
            <td>{{ study.average | floatformat:2 }}</td>
            <td>{{ study.allowance }}</td>
            <td>{{ study.capacity|floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
            <td>No records found.</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}