{% extends 'base/base.html' %}
{% block body %}

<h2>Time Study</h2>
<form method="POST">
    {% csrf_token %}

    <label>Machine Type</label><br>
    {{ form.machine }}<br><br>

    <label>Batch </label><br>
    {{ form.batch_no }}<br><br>

    <label>Machine Number</label><br>
    <select name="machine_no" required>
        <option value="">Select Machine Number</option>
        {% for number in numbers %}
            <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
    </select><br><br>

    <label>Operation Name</label><br>
    {{ form.operation }}<br><br>


    <div style="display: none;">
        {{ form.operator }}
    </div>

    <h3>Scan Operator QR</h3>
    <div id="reader"></div>

    <label>Operator Name</label><br>
    <input type="text" id="operator_name" readonly><br><br>

    <label>Token ID</label><br>
    <input type="text" id="token_id" readonly><br><br>

    <h2 id="display">0.000</h2>
    <button type="button" onclick="startWatch()">Start</button>
    <button type="button" onclick="stopWatch()">Stop</button>
    <button type="button" onclick="resetWatch()">Reset</button>
    <br><br>

    <label>Reading 1</label><br>
    {{ form.reading1 }}<br><br>

    <label>Reading 2</label><br>
    {{ form.reading2 }}<br><br>

    <label>Reading 3</label><br>
    {{ form.reading3 }}<br><br>

    <label>Reading 4</label><br>
    {{ form.reading4 }}<br><br>

    <label>Reading 5</label><br>
    {{ form.reading5 }}<br><br>

    <label>Allowance (%)</label><br>
    {{ form.allowance }}<br><br>

    <button type="submit">Save Time Study</button>
</form>

<script src="https://unpkg.com/html5-qrcode"></script>

<script>
    function onScanSuccess(decodedText){
        fetch("/get-operator/?token=" + decodedText)
        .then(response => response.json())
        .then(data => {
            if(data.error){
                alert(data.error);
                return;
            }
            document.getElementById("id_operator").value = data.id;
            document.getElementById("operator_name").value = data.name;
            document.getElementById("token_id").value = data.token;
            scanner.clear();
        });
    }
    let scanner = new Html5QrcodeScanner(
        "reader",
        {
            fps:10,
            qrbox:250
        }
    );
    scanner.render(onScanSuccess);

</script>

<script>
    let startTime = 0;
    let elapsedTime = 0;
    let timer = null;
    let running = false;
    let reading = 1;

    function startWatch(){
        if(running){
            return;
        }
        running = true;
        startTime = Date.now() - elapsedTime;
        timer = setInterval(function(){
            elapsedTime = Date.now() - startTime;
            let seconds = elapsedTime / 1000;
            document.getElementById("display").innerHTML =
                seconds.toFixed(3);
        },10);
    }


    function stopWatch(){
        if(!running){
            return;
        }
        clearInterval(timer);
        running = false;

        let value = (elapsedTime/1000).toFixed(3);
        if(reading==1){
            document.getElementById("id_reading1").value=value;
        }
        else if(reading==2){
            document.getElementById("id_reading2").value=value;
        }
        else if(reading==3){
            document.getElementById("id_reading3").value=value;
        }
        else if(reading==4){
            document.getElementById("id_reading4").value=value;
        }
        else if(reading==5){
            document.getElementById("id_reading5").value=value;
            alert("All readings completed");
        }
        reading++;
    }


    function resetWatch(){
        clearInterval(timer);
        running = false;
        elapsedTime = 0;
        startTime = 0;
        document.getElementById("display").innerHTML = "0.000";
    }
</script>

{% endblock %}